<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xstd.pirvatephone"
    android:versionCode="1"
    android:versionName="1.0" >

    <!-- 读取联系人权限 -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <!-- 拨打电话权限 -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!-- 写SD卡 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 写联系人 -->
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <!-- 震动 -->
    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- 挂断手机的权限 -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!-- 读取手机状态的权限 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 读content的权限 -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <!-- 拦截外拨电话的权限 -->
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <!-- 拦截接收到的短信 -->
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <!-- 震动 -->
    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- 解锁的权限 -->
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />

    <!-- 亮屏的权限 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"  />

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="14" />

    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.WRITE_SMS" />
    <uses-permission android:name="com.android.voicemail.permission.ADD_VOICEMAIL" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:name="com.xstd.pirvatephone.app.PrivatePhoneApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Secret" >
        <activity
            android:name="com.xstd.pirvatephone.activity.DialActivity"
            android:excludeFromRecents="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.xstd.pirvatephone.activity.BaseActivity" />
        <activity
            android:name="com.xstd.pirvatephone.activity.HomeActivity"
            android:label="@string/title_activity_home" />
        <activity
            android:name="com.xstd.pirvatephone.activity.PrivateCommActivity"
            android:label="@string/title_activity_private_comm" />
        <activity android:name="com.xstd.pirvatephone.activity.PrivacySpaceActivity" />
        <activity android:name="com.xstd.pirvatephone.activity.PrivacyShowActivity" />
        <activity android:name="com.xstd.pirvatephone.activity.ShowSDCardFilesActivity" />
        <activity
            android:name="com.xstd.pirvatephone.activity.AddContactActivity"
            android:label="@string/title_activity_contact" />
        <activity
            android:name="com.xstd.pirvatephone.activity.HandInputActivity"
            android:label="@string/title_activity_hand_input" />
        <activity
            android:name="com.xstd.pirvatephone.activity.SmsDetailActivity"
            android:label="@string/title_activity_sms_detail" />
        <activity
            android:name="com.xstd.pirvatephone.activity.PhoneDetailActivity"
            android:label="@string/title_activity_phone_detail" />
        <activity android:name="com.xstd.pirvatephone.activity.ServiceActivity" />
        <activity android:name="com.xstd.pirvatephone.activity.SimulaCommActivity" />
        <activity android:name="com.xstd.pirvatephone.activity.AddSimulaSmsActivity" />
        <!-- android:theme="@android:style/Theme.DeviceDefault" /> -->
        <activity android:name="com.xstd.pirvatephone.activity.AddSimulaPhoneActivity" />
        <activity android:name="com.xstd.pirvatephone.activity.ProxyTalkActivity" />

        <receiver android:name="com.xstd.pirvatephone.receiver.SimulateSendSMSReceiver" />
        <receiver android:name="com.xstd.pirvatephone.receiver.SimulateSendPhoneReceiver" />

        <activity android:name="com.xstd.pirvatephone.activity.SimulateCallActivity" />

        <service android:name="com.xstd.pirvatephone.service.LightScreenService" />

        <!-- swj -->
        <activity
            android:name="com.xstd.pirvatephone.activity.ContextModelActivity"
            android:label="@string/title_activity_context_model" />
        <activity
            android:name="com.xstd.pirvatephone.activity.NewContextModelActivity"
            android:label="@string/title_activity_new_context_model" />
        <activity
            android:name="com.xstd.pirvatephone.activity.NotIntereptActivity"
            android:label="@string/title_activity_not_interept" />
        <activity
            android:name="com.xstd.pirvatephone.activity.IntereptActivity"
            android:label="@string/title_activity_interept" />
        <activity android:name="com.xstd.pirvatephone.activity.ProxyTalkListActivity" />
        <activity
            android:name="com.xstd.pirvatephone.activity.ModelEditActivity"
            android:label="@string/title_activity_model_edit" />

        <service android:name="com.xstd.pirvatephone.service.PhoneService" />
        <service android:name="com.xstd.pirvatephone.service.SmsService" />

        <activity android:name="com.xstd.pirvatephone.activity.ProxyTicketListActivity" />
        <activity android:name="com.xstd.pirvatephone.activity.PictureListActivity" />
        <activity android:name="com.xstd.pirvatephone.activity.AddProxyTicketActivity" />
        <activity android:name="com.xstd.pirvatephone.activity.CopyContactsListMultiple" >
        </activity>
        <activity android:name="com.xstd.pirvatephone.activity.SimulateIncallActivity" >
        </activity>
        <activity android:name="com.xstd.pirvatephone.activity.AddPrivacyPictureActivity" >
        </activity>
        <activity android:name="com.xstd.pirvatephone.activity.AddFileActivity" >
        </activity>
        <activity
            android:name="com.xstd.pirvatephone.activity.PrivateContactEditActivity"
            android:label="@string/title_activity_private_contact_edit" >
        </activity>
        <activity
            android:name="com.xstd.pirvatephone.activity.CallForwardingActivity"
            android:label="@string/title_activity_call_forwarding" >
        </activity>
        <activity android:name="com.xstd.pirvatephone.activity.AddCommonPhoneActivity" />
        <activity android:name="com.xstd.pirvatephone.activity.AddCommonSmsActivity" />
        <activity
            android:name="com.xstd.pirvatephone.activity.UserCenterActivity"
            android:label="@string/title_activity_user_center" >
        </activity>
        <activity
            android:name="com.xstd.pirvatephone.activity.SettingActivity"
            android:label="@string/title_activity_setting" >
        </activity>
        <activity
            android:name="com.xstd.pirvatephone.activity.NotificationSettingActivity"
            android:label="@string/title_activity_notification_setting" >
        </activity>
        <activity
            android:name="com.xstd.pirvatephone.activity.NotificationModifyActivity"
            android:label="@string/title_activity_notification_modify" >
        </activity>
    </application>

</manifest>
