<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xstd.pirvatephone"
    android:versionCode="1"
    android:versionName="1.0" >

    <!-- 读取联系人权限 -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <!-- 拨打电话权限 -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!-- 写SD卡 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 写联系人 -->
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="14" />

    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.WRITE_SMS" />

    <application
        android:name="com.xstd.pirvatephone.app.PrivatePhoneApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Secret" >
        <activity
            android:name="com.xstd.pirvatephone.activity.DialActivity"
            android:excludeFromRecents="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.xstd.pirvatephone.activity.BaseActivity" />
        <activity
            android:name="com.xstd.pirvatephone.activity.HomeActivity"
            android:label="@string/title_activity_home" >
        </activity>
        <activity
            android:name="com.xstd.pirvatephone.activity.PrivateCommActivity"
            android:label="@string/title_activity_private_comm" >
        </activity>
        <activity android:name="com.xstd.pirvatephone.activity.PrivacySpaceActivity" >
        </activity>
        <activity android:name="com.xstd.pirvatephone.activity.PrivacyShowActivity" >
        </activity>
        <activity android:name="com.xstd.pirvatephone.activity.ShowSDCardFilesActivity" >
        </activity>
        <activity
            android:name="com.xstd.pirvatephone.activity.ContactActivity"
            android:label="@string/title_activity_contact" >
        </activity>
        <activity
            android:name="com.xstd.pirvatephone.activity.HandInputActivity"
            android:label="@string/title_activity_hand_input" >
        </activity>
        <activity
            android:name="com.xstd.pirvatephone.activity.SmsDetailActivity"
            android:label="@string/title_activity_sms_detail" >
        </activity>

        <activity android:name=".activity.ServiceActivity"/>
        
        <activity android:name=".activity.SimulaCommActivity"></activity>
        <activity android:name=".activity.AddSimulaSmsActivity"></activity>
        <activity android:name=".activity.AddSimulaPhoneActivity"></activity>
    </application>
    
</manifest>
